/* banner resonsive*/
@media screen and (max-width:576px) {

    .nav-right {
        display: none;
        ;
    }


    /* Show hamburger icon on mobile */
    .nav-bar .hamburger {
        display: block;
        background-color: white;
        height: 1px;
        width: 1px;

    }

    .banner {
        flex-direction: column;
    }

    /* change your habit */

    .image-part {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 150px;
    }


    /* run extra part */

    .run-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 531px;
        width: auto;
    }


    /* meet our team part */

    .meet-img-container {
        display: grid;
        grid-template-areas:
            "trainer-1"
            "trainer-2"
            "trainer-3"
            "trainer-4"
            "trainer-5"
            "trainer-6";
        width: 353px;

    }


    /* footer responsive */
    .last-part {
        display: flex;
        flex-direction: column;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
    }
}