/* banner resonsive*/
@media screen and (max-width:576px) {

    .nav-right {
        display: none;
        ;
    }


    /* Show hamburger icon on mobile */
    .nav-bar .hamburger {
        display: block;
    }

    .banner {
        flex-direction: column;
    }

    /* change your habit */

    .image-part {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 150px;
    }

}