.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

    background-color: black;
}

* {
    margin: 0px;
}


/*navbar style*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}

.nav-right {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    list-style: none;
    border: 1px solid gray;
    border-radius: 39px;
    padding: 0.5rem;
    color: white;
}



.button {
    background-color: #E6533C;
    padding: 8px;
    color: white;
    border-radius: 10px;
    font-weight: 700px;
}

.nav-left {
    color: #E6533C;
    font-weight: 800px;
    font-size: 36px;
}

.header {
    background-image: black;
}

.nav-bar li {
    font-weight: 400px;
    font-size: 16px;

}


/* banner style */

.banner {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;

}

.banner-content {
    color: white;
    margin: 28px;
}

.banner-content h2 {
    font-weight: 800px;
    font-size: 78px;
    align-items: center;
    width: 90%;
}

.banner-content p {
    font-weight: 400px;
    font-size: 16px;
    opacity: 0.5;
    margin: 28px 0px;
}

.span {
    font-family: 'miama-nueva';
    font-weight: 200px;

}

.download-button {
    padding: 8px;
    border-radius: 10px;
    font-weight: 700px;
}

/*banner image cards style*/

.c5h {
    font-weight: 600px;
    font-size: 30px;
    color: white;
}

.c5p {
    font-weight: 400px;
    font-size: 16px;
    color: white;
    opacity: 0.5;
}

.card5 {
    position: absolute;
    top: 350px;
    right: 25px;
    background-color: rgb(54, 50, 50);
    text-align: center;
    height: 60px;
    width: 193px;
    border-radius: 12px;
    padding: 3px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;

}

.c3h {
    font-weight: 600px;
    font-size: 24px;
    color: white;
}

.c3p {
    font-weight: 400px;
    font-size: 16px;
    color: white;
    opacity: 0.5;
}

.card3 {
    position: absolute;
    right: 350px;
    bottom: 1px;
    background-color: rgb(54, 50, 50);
    text-align: center;
    height: 60px;
    width: 193px;
    border-radius: 12px;
    padding: 3px;
    display: flex;
}